In [4]:
print("Hello World","Hello Python")

Hello World Hello Python

In [5]:
print("Hello World","Hello Python", sep=",")

Hello World,Hello Python

In [13]:
print("Hello World","Hello Python", end="***")
print("Hello World","Hello Python", end="***")
print("Hello World","Hello Python")

Hello World Hello Python***Hello World Hello Python***Hello World Hello Python

# Variables

In [16]:
a = "Hello World"
type(a)

str

int numbers  size 2 bytes
float decimal numbers size 4 bytes
double size 8 bytes
char 1 byte
string

In [23]:
b = 8
c = 2.8

In [24]:
print(b,c)

8 2.8

In [30]:
char = chr(97)
char

'a'

In [35]:
name = "Ali"
print("My name is "+name)

My name is Ali

In [41]:
_name = 7

In [42]:
fullName = "Mansoor Hussain" #Camel Case
full_name = "Mansoor Hussain" #Snake Case

In [43]:
'a' == 'A'

False

In [49]:
num = '4.5' #String
number = 5  #Int
type(num)

str

In [56]:
flt = 7.83878378
type(flt)

float

In [57]:
a = 3
b = 4

In [88]:
a, b = '43', '21'

In [89]:
c = a + b #'43'+'21'=='4321'
c

'4321'

In [91]:
d = a * 3  #'43'*3 == a+a+a
d

'434343'

In [92]:
a, b = 43, 21

In [93]:
c = a + b
c

64

In [94]:
d = a * 3
d

129

In [95]:
num = 12 - 24
num

-12

In [96]:
print(2+2)

4

In [97]:
print("2"+"2")

22

In [100]:
calc = 4 / 2
calc

2.0

In [101]:
calc = 4 // 2
calc

2

In [109]:
mod = 6 % 4
mod

2

In [111]:
age = 19
age = age + 1
age

20

In [112]:
age = 29
age += 1
age

30

In [113]:
age *= 3 # age = age * 3
age

90

In [116]:
total_cost = 2 * 3 + 4  #PEMDAS
total_cost

10

In [117]:
total_cost = (1 + 3) * 4
total_cost

16

In [118]:
result_of_computation = (2 * 4) * 4 + 2

In [119]:
result_of_computation

34

In [124]:
cost = (7 * 2 + 7) / (10 - 3) + (6 / 2) - 2 #PEMDAS

In [125]:
cost

4.0

In [126]:
result_of_computation = ((2 * 4) * 4) + 2
result_of_computation

34

In [135]:
greeting = "Hello"
addressee = "World"
whole_greeting = greeting + " " + addressee

In [136]:
whole_greeting

'Hello World'